.container {
    width: 100%;
}

.tabs {
    height: 2.2rem;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    border-bottom: 1px solid #BDBDBD;
    padding: 0 3rem;
    font-family: 'Montserrat';
    width: 100%;

    & > li {
        text-align: center;
        list-style-type: none;
        min-width: 5.2rem;
        cursor: pointer;

        &.active {
            border-bottom: 4px solid #2F80ED;
        }
    }
}

.content {
    width: 100%;
    min-height: 25rem;
    padding: 1.2rem 0;
}
